<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    {% if employee %}
        <h1>Welcome, {{ employee.username }}!</h1>
        <p>Email: {{ employee.email }}</p>
        <p>Position: {{ employee.position }}</p>
        <p>Level: {{ employee.level }}</p>
        <p>Experience: {{ employee.experience }}</p>
        <p>Balance: {{ employee.balance }}</p>

        <h2>Achievements:</h2>
        <ul>
            {% for achievement in achievements %}
            <img src="{{ achievement.achievement.image.url }}" alt="{{ achievement.achievement }}">
            <li>{{ achievement.achievement }}</li>
            {% endfor %}
        </ul>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <h1>Please log in</h1>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</body>
</html>
